{% extends "base_generic.html" %}
{% load crispy_forms_tags %}



{% block content %}
<div class="mx-auto">
    <br>
    <h1 class="side_title text-center">
         My Profile
    </h1>

    <br>
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
        <br>
        <ul>
            <li>Location <span>{{ profile.location }}</span></li>
            <li>BIO</li> <span>{{ profile.bio }}</span>
            <li>Email</li> <span>{{ profile.user.email }}</span>
            <li>Birth Date <span>{{ profile.birth_date }}</span></li>
        </ul> 
        <a href="{% url 'accounts:profile_edit' %}">Edit Profile</a>
        <br>
    </div>
</div>
{% endblock %}