{% extends "base_generic.html" %}

{% block title %}
Reset Your Password Block Title
{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <h1 class="side_title text-center">
      Reset Password
    </h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
        <div>
          <br>
          <h2 class="side_title">
            Please Reset Your Password
          </h2>
          <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
              <p>{{ form.email }}</p> 
            <input type="submit" class="btn btn-default btn-lg" value="Reset">
          </form>
          <br>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
{% endblock %}
