body {
  background: #f3f3f3;
}

.main_title {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 15px;
  padding-bottom: 10px;
}


.errorlist li {
  color: red;
  font-weight: bold;
}

.custom_div {
  margin-bottom: 20px !important;
}
